* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FDF7FD;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, a {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}
h1, h2 {
    text-align: center;
}
li {
    list-style: none;
}
/* a {
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.8s ease-in-out;
} */
header {
    height: 60vh;
    margin-bottom: 20px;
    position: relative;
    background-image: url("assets/img/banner.jpg");
    background-position: center;
    background-size: cover;
}
.main-logo {
    border-radius: 100%;
}

.navBar {
    background: #2d2d2de8;
    box-shadow:  14px 14px 44px #ff000060, -14px -14px 44px #ff0000;
}

.main-menu li {
    font-size: 1.8rem;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
}
.main-menu a {
    color: red;
}
.main-menu a:hover {
    color: #FDF7FD;
}