@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #000000, #333333);
    min-height: 100vh;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 70vh;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("assets/img/fav.jpg");
        background-position: center;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }

    p {
        font-family: 'Bebas Neue', sans-serif;
        margin-top: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8rem;
        animation: scrollText 20s linear infinite;
    }

    .logo-header-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#present {
    background: #0c0c0c6f;
    border-radius: 10px;
    box-shadow: 0px 0px 50px -3px rgba(1, 189, 146, 0.3);
    width: 80%;
    margin: 40px auto;
    padding: 10px 0;

    h1 {
        font-family: 'Bebas Neue', sans-serif;
        text-align: center;
        font-size: 3.5rem;
        letter-spacing: 2px;
        margin-bottom: 15px;

        #main-logo {
            width: 100px;
            vertical-align: middle;

            animation: rotate 5s linear infinite;
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .card {
            background: rgba(1, 189, 146, 0.3);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8.3px);
            margin: 20px;
            /* width: 280px; */
            width: 25%;
            min-height: 420px;

            .img {
                height: 10vh;
                width: 100%;
            }

            .img img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px 16px 0 0;
                background: rgba(1, 189, 146, 0.3);
            }

            .content {
                padding: 10px 15px;
            }
        }
    }

    h3 {
        margin: 10px 0;
    }

    .carousel-container {
        margin: 20px 0;
        text-align: center;

        h2 {
            margin-bottom: 30px;
        }

        .swiper {
            width: 30%;
            height: 100%;

            .swiper-slide {
              background: inherit;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* @keyframes pulse {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.4);
    } 100% {
        transform: scale(1);
    }
} */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(180deg);
    } 100% {
        transform: rotate(360deg);
    }
}

#installation {
    border: solid 1px blue;
    margin-bottom: 40px;
    height: 60vh;
}

.banner-bottom {
    margin-bottom: 60px;
    background-image: url("assets/img/popcorn.png");
    background-size: cover;
    background-position: center;
    height: 55vh;
}

footer {
    box-shadow: 0px 10px 40px 3px rgba(1, 189, 146, 0.3);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 10%;
        margin-right: 50px;
        border-right: 3px solid white;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
    }

    li {
        margin: 10px 0;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.4rem;
        transition: 0.3s ease-in-out;
    }

    a:hover {
        color: #DC1A28;
    }
}