* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FDF7FD;
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}
h1, h2 {
    text-align: center;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    height: 60vh;
    margin-bottom: 20px;
    position: relative;
    background-image: url("assets/img/banner.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-logo {
    border-radius: 100%;
}
.navBar {
    background: rgba(255,255,255,0);
    box-shadow: 14px 14px 44px #ff000060, -14px -14px 44px #ff0000;
    backdrop-filter: blur(18.6px);
    -webkit-backdrop-filter: blur(18.6px);

    z-index: 10;
}
.navBar .toggle-icon {
    background-color: #fdf7fd59;
    border: solid 1px #FDF7FD;
    margin-right: 20px;
}
.main-menu li {
    font-size: 1.8rem;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
}
.main-menu a {
    color: red;
    transition: 0.3s ease-in-out;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
}
.main-menu a:hover {
    color: #FDF7FD;
}
.title {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FDF7FD;
    z-index: 1;
}
.title h1, .title h3 {
    font-size: 4.5rem;
    text-align: center;
}
.title h3 {
    font-size: 2rem;
}
swiper-container {
    width: 100%;
}
swiper-slide {
    background-position: center;
    background-size: cover;
    width: 280px;
}
swiper-slide img {
    display: block;
    width: 100%;
}
.myCard {
    background: rgb(30,21,35);
    background: linear-gradient(155deg, rgba(30,21,35,1) 20%, #602020 80%);
    color: #FDF7FD;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    height: 100%;
    transform-style: preserve-3d;
    transform: perspective(600px);
}
.card-inner {
    border: solid 2px red;
    transform: translateZ(50px);
}
.card-inner .fa-check {
    margin-right: 10px;
    color: rgb(1,192,148);
    font-size: 1.2rem;
}
.card-inner .fa-xmark {
    color: red;
}
.background-img {
    background-image: url("assets/img/popcorn.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
}
.logo-swiper {
    width: 300px;
    height: 300px;
}
.logo-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
#price .subscription {
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0.8);
    background: #FDF7FD;
}
#price .cardHeader {
    font-family: 'Bebas Neue', sans-serif;
}
#price .cardHeader::after {
    content: "";
    display: block;
    width: 70%;
    height: 2px;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}
#price .subscription {
    background: rgb(30,21,35);
    background: linear-gradient(155deg, rgba(30,21,35,1) 20%, #602020 80%);
    color: #FDF7FD;
}
#price .fa-clapperboard {
    color: red;
    font-size: 1.2rem;
}
#price .custom-badge {
    font-size: 0.6em;
    padding: 2px;
    vertical-align: middle;
}
#price .subscription a {
    margin: 0 auto;
    width: fit-content;
    background: red;
    color: #FDF7FD;
    transition: 0.3s ease-in-out;
}
#price .subscription a:hover {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
}
#install {
    background: rgba(0, 0, 0, 0.8);
    color: #FDF7FD;
}
.dl-btn {
    background: linear-gradient(155deg, rgba(30,21,35,1) 20%, #602020 80%);
    color: #FDF7FD;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}
.dl-btn:hover {
    color: green;
}
.bxl-android {
    color: #9FC037;
    transition: 0.3s ease-in-out;
}
.bxl-apple {
    color: #D1D1D1;
    transition: 0.3s ease-in-out;
}
#faq {
    background: rgba(0, 0, 0, 0.8);
}
#faq h2 {
    color: #FDF7FD;
}
#faq a {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0;
    color: red;
    transition: 0.3s ease-in-out;
}
#faq a:hover {
    color: #000;
}
.faq-question {
    font-family: "Noto Sans", sans-serif;
}
#accordionFaq {
    border: solid 2px red;
    border-radius: 8px;
}
.accordion-button:not(.collapsed) {
    background-color: #602020;
    color: #ffffff;
}
.accordion-button.collapsed {
    background-color: #f8f9fa;
    color: #000000;
}
.accordion-button:focus {
    box-shadow: 0px 1px 2px 2px red;
}
.backtotop {
    background: red;
    color: #FDF7FD;
    border-radius: 100%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}
.backtotop:hover {
    background: rgba(0, 0, 0, 0.8);
    color: red;
}
#contact {
    background: rgba(0, 0, 0, 0.8);
    color: #FDF7FD;
    background-image: url("assets/img/footer.png");
    background-position: center;
    background-size: cover;
}
.rs-link {
    transition: 0.3s ease-in-out;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
    color: red;
}
.rs-link:not(:last-child) {
    margin-right: 90px;
}
.rs-link:hover {
    color: #000;
}
.form-contact label {
    color: red;
}
.submit {
    background: red;
    color: #FDF7FD;
}
.submit:hover {
    background: red;
    color: #FDF7FD;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.8);
}
.copyright {
    background: rgba(0, 0, 0, 0.8);
    color: #FDF7FD;
}
.copyright a {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0;
    color: red;
    transition: 0.3s ease-in-out;
}
.copyright a:hover {
    color: #000;
}
@media screen and (max-width: 399px) {
    body {
        overflow-x: hidden;
    }
    header {
        height: 60vh;
    }
    header .main-logo {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .main-menu li {
        font-size: 1.3rem;
    }
    .title {
        top: 60%;
    }
    .title h1 {
        font-size: 2rem;
    }
    .title h3 {
        font-size: 1.2rem;
    }
    .card-container {
        width: 100%;
        padding: 0;
    }
    .card-container .cards {
        width: 100%;
    }
    .faq-container {
        width: 100%;
        padding: 0;
    }
    #contact .rs-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width: 400px) and (max-width: 499px) {
    header {
        height: 60vh;
    }
    header .main-logo {
        width: 70px;
        height: 70px;
    }
    .main-menu li {
        font-size: 1.3rem;
    }
    .title {
        top: 65%;
    }
    .title h1 {
        font-size: 2.2rem;
    }
    .title h3 {
        font-size: 1.5rem;
    }
    .card-container {
        width: 85%;
    }
}
@media screen and (min-width: 500px) and (max-width: 575px) {
    .card-container {
        width: 80%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        height: 90vh;
    }
}